.book_list
    each book in books
        figure.book_cell
            a(href="/books/" + book.id)
                .book_cell_div
                    img#cover(src=book.coverUrl)
                    div.title= `${book.title}`
