a {
    text-decoration: none;
}

.book_list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

    width: 100%;
    height: 95%;
}

.book_cell_div {
    border: 3px #366277 solid;
    background: #eeeeee;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
    /*width: -moz-fit-content;*/
    /*height: fit-content;*/
    height: 100%;
}

.book_cell {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    flex: 0 0 30%;
    margin: 0 0 1rem;

    /*max-width: 30%;*/
}

.title {
    /*border: #366277 2px solid;*/
    font-family: Arial, serif;
    font-size: 17px;
    font-weight: bold;
    background-color: #366277;
    color: white;
}

/*.book_ul {*/
/*    list-style-type: none;*/
/*    text-align: left;*/
/*}*/

/*.book_li {*/
/*    display: block;*/
/*}*/

/*#cover {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*}*/