@import "header.css";
@import "buttons.css";

.info {
    text-align: center;
    font-size: x-large;
}

.inStock {
    text-align: center;
    font-size: x-large;
    color: green;
    text-decoration: underline;
}

.notInStock {
    text-align: center;
    font-size: x-large;
    color: red;
    text-decoration: underline;
}

#cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.buttons_container {
    display: flex;
    gap: 10px;
}