@import "header.css";
@import "buttons.css";

.edit_buttons {
    display: flex;
    gap: 10px;
}

select {
    width: auto;
    margin: 10px;
    font-size: large;
}

/*section {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/

/*.book_cell {*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    background-color: aqua;*/
/*    flex: 200px 200px;*/
/*}*/